
<div class="modal fade" id="buyModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ data.companyName }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="margin: 20px;">
    <form onsubmit="return validateForm()" name ='buyForm'>
      <div class="form-group row">
        <label for="staticBudget" class="col-sm-2 col-form-label">Budget</label>
        <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="staticBudget" value={{ budget }}>

        </div>
      </div>
      <div class="form-group row">
        <label for="staticPrice" class="col-sm-2 col-form-label">Price</label>
        <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="staticPrice" value={{ data.latestPrice }}>
        </div>
      </div>

      <div class ="form-group row">
          <label  class="col-sm-2 col-form-label ">Quantity </label>
          <div class="col-sm-10 ">
               <input type="number" class="form-control" id="quantity" name="quantity" min="1" max="100" value ="1"
                      onChange="multiply()">
          </div>
      </div>
      <div class="form-group row">
        <label for="staticTotal" class="col-sm-2 col-form-label">Total</label>
        <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="staticTotal" value={{ data.latestPrice }}
                   name="Total">
        </div>
      </div>

         <div class="modal-footer form-group row">
          <button type="submit" class="btn btn-primary">Submit</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="reset()">Close</button>
             </div>
    </form>
      </div>




    </div>
  </div>
</div>