{% extends "base.html" %}

{% block content %}
    <!--
    <div class="row">
        <div class="col-11 text-left">Top Stocks</div>
        <div class="col-1 text-right">X</div>
    </div>
    -->
    <table class="table table-hover data-table">
        <tr>
            <th>#</th>
            <th>Symbol</th>
            <th>Name</th>
            <th>Price</th>
            <th>Change</th>
            {% if profile %}
                <th>Actions</th>
            {% endif %}
        </tr>
        {% for stock in data %}
            <tr class="clickable-row" data-href="/stock/{{ stock.symbol }}">

                <td>{{ forloop.counter }}</td>
                <td>{{ stock.symbol }}</td>
                <td>{{ stock.name }}</td>
                <td>{{ stock.price|floatformat:2 }}</td>
                <td class="
                {% if stock.change_percent >= 0 %}
                    text-success
                {% else %}
                    text-danger
                {% endif %}
                ">{{ stock.change_percent|floatformat:2 }}%</td>
                {% if profile %}
                <td onclick="event.cancelBubble=true; return false;">
                    {% if stock in profile.watchlist.all %}
                        <button id="editbutton{{forloop.counter}}" onclick="watchlistEdit('{{stock.symbol}}','{{forloop.counter}}')" class="btn btn-outline-danger" style="padding: 0px 6px;"><i id="eyeicon{{forloop.counter}}" class='fa fa-eye-slash'></i></button>
                    {% else %}
                        <button id="editbutton{{forloop.counter}}" onclick="watchlistEdit('{{stock.symbol}}','{{forloop.counter}}')" class="btn btn-outline-primary" style="padding: 0px 6px;"><i id="eyeicon{{forloop.counter}}" class='fa fa-eye'></i></button>
                    {% endif %}
                </td>
                {% endif %}

            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block scripts %}
<script>
    function watchlistEdit(symbol, number) {
        var xhr = new XMLHttpRequest();
        var icon = document.getElementById("eyeicon" + number);
        var editButton = document.getElementById("editbutton" + number);
        if (icon.className == "fa fa-eye") {
            xhr.open("POST", `stock/${symbol}/wadd/`, true);
            icon.className = "fa fa-eye-slash";
            editButton.className = "btn btn-outline-danger";
        } 
        else {
            xhr.open("POST", `stock/${symbol}/wremove/`, true);
            icon.className = "fa fa-eye";
            editButton.className = "btn btn-outline-primary";     
        }
        xhr.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));
        xhr.send();
    }
</script>
{% endblock %}
