{% extends "base.html" %}

{% block content %}
    <!--
    <div class="row">
        <div class="col-11 text-left">Top Stocks</div>
        <div class="col-1 text-right">X</div>
    </div>
    -->
    <table class="table table-hover data-table">
        <tr>
            <th>#</th>
            <th>Symbol</th>
            <th>Name</th>
            <th>Price</th>
            <th>Change</th>
            {% if profile %}
                <th>Actions</th>
            {% endif %}
        </tr>
        {% for stock in page_obj %}
            <tr class="clickable-row" data-href="/stock/{{ stock.symbol }}">

                <td>{{ forloop.counter }}</td>
                <td>{{ stock.symbol }}</td>
                <td>{{ stock.name }}</td>
                <td>{{ stock.price|floatformat:2 }}</td>
                <td class="
                {% if stock.change_percent >= 0 %}
                    text-success
                {% else %}
                    text-danger
                {% endif %}
                ">{{ stock.change_percent|floatformat:2 }}%</td>
                {% if profile %}
                <td>{% if stock in profile.watchlist.all %}
                    <form method="post" action="{% url 'watchlist_remove' symbol=stock.symbol %}"> {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <button type="submit" class="btn btn-outline-danger" style="padding: 0px 6px;"><i class="fa fa-eye-slash"></i></button>
                    </form>
                    {% else %}
                    <form method="post" action="{% url 'watchlist_add' symbol=stock.symbol %}"> {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <button type="submit" class="btn btn-outline-primary" style="padding: 0px 6px;"><i class="fa fa-eye"></i></button>
                    </form>
                    {% endif %}
                </td>
                {% endif %}

            </tr>
        {% endfor %}

    </table>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li class="page-item">
                {% else %}
            <li class="page-item disabled">
                {% endif %}
                <a class="page-link" href="?page=1&{{msgs_per_page_query}}&{{search_query}}">First</a>
            </li>
            {% for i in pages_indices %}
            {% if page_obj.number != i %}
            <li class="page-item"><a class="page-link"
                                     href="?page={{i}}&{{msgs_per_page_query}}&{{search_query}}">{{i}}</a></li>
            {% else %}
            <li class="page-item disabled"><a class="page-link"
                                              href="?page={{i}}&{{msgs_per_page_query}}&{{search_query}}" tabindex="-1">
                {{i}}
            </a>
            </li>
            {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
            <li class="page-item">
                {% else %}
            <li class="page-item disabled">
                {% endif %}
                <a class="page-link"
                   href="?page={{page_obj.paginator.num_pages}}&{{msgs_per_page_query}}&{{search_query}}">Last</a>
            </li>
        </ul>
    </nav>
{% endblock %}