{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="col-md-12 text-left">
        <h3>Change password for <b>{{ user }}</b></h3>
    </div>
    <div style="background:transparent !important" class="jumbotron">
        <form method="POST">
            {{ form.non_field_errors }}
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group input-group">
                    {{ field }}
                </div>
                <ul style="list-style-type:none;">
                    <li class="text-primary" style="text-align: left;">{{ field.help_text | safe }}</li>
                </ul>
                {% if field.errors %}
                <ul style="list-style-type:none;">
                    <li class="text-danger" style="text-align: left;">{{ field.errors }}</li>
                </ul>
                {% endif %}
            {% endfor %} <br>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block"><i class="fa fa-save"></i> Save new password</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}
