{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="col-md-12 text-left">
        <h3>Register as a new user</h3>
    </div>
    <div style="background:transparent !important" class="jumbotron">
        <form method="POST">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% for field in form %}
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="
                        {% if field.label == 'username' %}
                            fa fa-user
                        {% elif field.label == 'email' %}
                            fa fa-envelope
                        {% elif field.label == 'password1' or field.label == 'password2' %}
                            fa fa-lock
                        {% endif %}"></i> </span>
                    </div>
                    {{ field }}
                </div>
                <ul style="list-style-type:none;">
                    <li class="text-primary" style="text-align: left;">{{ field.help_text | safe }}</li>
                </ul>
                {% if field.errors %}
                <ul style="list-style-type:none;">
                    <li class="text-danger" style="text-align: left;">{{ field.errors }}</li>
                </ul>
                {% endif %}
            {% endfor %} <br>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block"> Create Account</button>
            </div>
            <p class="text-center">Have an account? <a href="{% url 'login' %}">Log In</a></p>
        </form>
    </div>
</div>

{% endblock %}