{% extends "base.html" %}

{% block content %}
<div class="col-md-12 text-left">
	<table>
		<tr>
			<td><h2>{{ data.companyName }}<small class="text-muted">({{ data.symbol }}) &emsp14;</small></h2></td>
			{% if profile %}
			<td>{% if stock.0 in profile.watchlist.all %}
                <button id="editbutton" onclick="watchlistEdit()" class="btn btn-outline-danger"><i class='fa fa-eye-slash'></i> Remove from watchlist</button>
                {% else %}
                <button id="editbutton" onclick="watchlistEdit()" class="btn btn-outline-primary"><i class='fa fa-eye'></i> Add to watchlist</button>
				{% endif %}</td>
			{% endif %} 
		</tr>
	</table>
</div>

<div class="col-md-12 text-left">
		<p class="lead">{{ data.primaryExchange }}</p>
</div>

<div class="col-md-12 text-left">
	<span class="lead">
	<big>
			{{ data.latestPrice }}
			<small class="lead">
					{% if data.changePercent >= 0 %}
									<span class="text-success">+{{ data.change }} (+{{ data.changePercent }}%)</span>
							{% else %}
									<span class="text-danger">{{ data.change }} ({{ data.changePercent }}%)</span>
							{% endif %}
			</small>
	</big>
	</span>
	<br>
	<small class="text-muted">Updated time: {{ data.latestTime }}</small>
</div>
<div class="row">
	<div class="pt-4 col-sm-6 pl-5">
		<dl class="row text-left">
			<dt class="col-sm-6">Previous Close</dt>
			<dd class="col-sm-6">{{ data.previousClose }}</dd>

			<dt class="col-sm-6">Volume</dt>
			<dd class="col-sm-6">{{ data.volume }}
			</dd>

			<dt class="col-sm-6">52 Weeks Low</dt>
			<dd class="col-sm-6">{{ data.week52Low }}</dd>

			<dt class="col-sm-6">52 Weeks High</dt>
			<dd class="col-sm-6">{{ data.week52High }}</dd>

			<dt class="col-sm-6">Year Change</dt>
			<dd class="col-sm-6">{{ data.ytdChange }}</dd>

			<dt class="col-sm-6">Market Cap</dt>
			<dd class="col-sm-6">{{ data.marketCap }}</dd>
		</dl>
	</div>

	<div class="pt-4 col-sm-6">
        <div id ="chartContainer">
            <canvas id="stockChart"></canvas>
        </div>
        <ul class="nav nav-pills" id="pills-tab" role="tablist">
            <li class="nav-item" style="padding-left: 4px">
                <a class="nav-link alert-secondary" data-toggle="pill" onclick="getHistoricData('1d')" role="tab" aria-controls="pills-home" aria-selected="true">1D</a>
            </li>
            <li class="nav-item" style="padding-left: 4px">
                <a class="nav-link alert-secondary" data-toggle="pill" onclick="getHistoricData('5d')" role="tab" aria-controls="pills-home" aria-selected="true">1W</a>
            </li>
            <li class="nav-item" style="padding-left: 4px">
                <a class="nav-link active alert-secondary" data-toggle="pill" onclick="getHistoricData('1m')" role="tab" aria-controls="pills-profile" aria-selected="false">1M</a>
            </li>
            <li class="nav-item" style="padding-left: 4px">
                <a class="nav-link alert-secondary" data-toggle="pill" onclick="getHistoricData('3m')" role="tab" aria-controls="pills-contact" aria-selected="false">3M</a>
            </li>
            <li class="nav-item" style="padding-left: 4px">
                <a class="nav-link alert-secondary" data-toggle="pill" onclick="getHistoricData('6m')" role="tab" aria-controls="pills-contact" aria-selected="false">6M</a>
            </li>
            <li class="nav-item" style="padding-left: 4px">
                <a class="nav-link alert-secondary" data-toggle="pill" onclick="getHistoricData('1y')" role="tab" aria-controls="pills-contact" aria-selected="false">1Y</a>
            </li>
            <li class="nav-item" style="padding-left: 4px">
                <a class="nav-link alert-secondary" data-toggle="pill" onclick="getHistoricData('2y')" role="tab" aria-controls="pills-contact" aria-selected="false">2Y</a>
            </li>
            <li class="nav-item" style="padding-left: 4px">
                <a class="nav-link alert-secondary" data-toggle="pill" onclick="getHistoricData('5y')" role="tab" aria-controls="pills-contact" aria-selected="false">5Y</a>
            </li>
        </ul>
	</div>
</div>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(getHistoricData());

    function getHistoricData(time_range='1m') {
        // reset canvas to avoid conflicting hover events from other graphs
        var chartContainer = document.getElementById('chartContainer');
        chartContainer.innerHTML = '';
        $('#chartContainer').append('<canvas id="stockChart"></canvas>');

        $.get(`/historic/{{ data.symbol }}/${time_range}/`, function ( data, received, response ) {
            if (response.status == 200) {
                historic_data = data.data.sort(function(a, b) { return a.date - b.date; })

                // For some strange reason, the 'today' data point returned by API has no label
                if (typeof historic_data[data.data.length-1].label === 'undefined') {
                    last_label = new Date(historic_data[data.data.length-1].date).toString();
                    if (time_range == '3m' || time_range == '6m' || time_range.endsWith('y')){
                        historic_data[data.data.length-1].label = 
                            last_label.substr(3, 7) + ', ' 
                            + historic_data[data.data.length-1].date.substr(2, 2);
                    }
                    else{
                        historic_data[data.data.length-1].label = last_label.substr(3, 7);
                    }
                }

                var colors = getGraphColors(data.data[0].close, data.data[data.data.length-1].close);
                var ctxL = document.getElementById('stockChart').getContext('2d');

                var myLineChart = new Chart(ctxL, {
                    type: 'line',
                    data: {
                        labels: historic_data.map(d => d.label),
                        datasets: [
                            {
                                label: '{{ data.symbol }}',
                                data: historic_data.map(d => d.close),
                                backgroundColor: [colors[0]],
                                borderColor: [colors[1]],
                                borderWidth: 2
                            }
                        ]
                    },
                    options: 
                        {
                            responsive: true,
                            spanGaps: true,
                        }
                    });
                }
        });
    }

    function getGraphColors(p1, p2) {
        if (p2 >= p1) {
            return ['rgba(2, 144, 62, .2)', 'rgba(2, 144, 62, .5)']
        }
        else {
            return ['rgba(220, 24, 24, .2)', 'rgba(220, 24, 24, .5)']
        }
    }
    
    function watchlistEdit() {
        var editButton = document.getElementById("editbutton");

        if (editButton.innerHTML.includes("Add to watchlist")) {
            var operation = "wadd";
        }
        else {
            var operation = "wremove";   
        }
 
        var xhr = new XMLHttpRequest();
        xhr.open("POST", `${operation}/`, true);

        xhr.onreadystatechange = function () {
            if (xhr.readyState === XMLHttpRequest.DONE) {
                var status = xhr.status;
                // In local files, status is 0 upon success
                if (status === 0 || (status >= 200 && status < 400)) {
                    if (operation == "wadd") {
                        editButton.innerHTML = "<i class='fa fa-eye-slash'></i> Remove from watchlist";
                        editButton.className = "btn btn-outline-danger";   
                    } 
                    else {
                        editButton.innerHTML = "<i class='fa fa-eye'></i> Add to watchlist";
                        editButton.className = "btn btn-outline-primary";            
                    }
                }
            }
        };
        xhr.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));
        xhr.send();
    }
</script>
{% endblock %}
