{% extends "base.html" %}

{% block content %}
{% include "subtemplate/buy_model.html" %}
<div class="col-md-12 text-left" >
    <table>
        <tr>
            <td><h2>{{ data.companyName }}<small class="text-muted">({{ data.symbol }}) &emsp14;</small></h2></td>
            {% if profile %}
            <td>{% if stock.0 in profile.watchlist.all %}
                <button id="editbutton" onclick="watchlistEdit()" class="btn btn-outline-danger"><i
                        class='fa fa-eye-slash'></i> Remove from watchlist
                </button>
                {% else %}
                <button id="editbutton" onclick="watchlistEdit()" class="btn btn-outline-primary"><i
                        class='fa fa-eye'></i> Add to watchlist
                </button>
                {% endif %}
                <button id ="buyBtn" onclick=""  class="btn btn-outline-success" data-toggle="modal" data-target="#buyModel">
                    <i class="fa fa-money" aria-hidden="true"></i> Buy </button>
            </td>
            {% endif %}
        </tr>
    </table>
</div>

<div class="col-md-12 text-left">
    <p class="lead">{{ data.primaryExchange }}</p>
</div>

<div class="col-md-12 text-left" id="stock_data">
	<span class="lead">
	<big>
			{{ data.latestPrice }}
			<small class="lead">
					{% if data.changePercent >= 0 %}
									<span class="text-success">+{{ data.change }} (+{{ data.changePercent }}%)</span>
							{% else %}
									<span class="text-danger">{{ data.change }} ({{ data.changePercent }}%)</span>
							{% endif %}
			</small>
	</big>
	</span>
    <br>
    <small class="text-muted">Updated time: {{ data.latestTime }}</small>
</div>
<div class="row">
    <div class="pt-4 col-sm-6 pl-5">
        <dl class="row text-left" id ="text">
            <dt class="col-sm-6">Previous Close</dt>
            <dd class="col-sm-6">{{ data.previousClose }}</dd>

            <dt class="col-sm-6">Volume</dt>
            <dd class="col-sm-6">{{ data.volume }}
            </dd>

            <dt class="col-sm-6">52 Weeks Low</dt>
            <dd class="col-sm-6">{{ data.week52Low }}</dd>

            <dt class="col-sm-6">52 Weeks High</dt>
            <dd class="col-sm-6">{{ data.week52High }}</dd>

            <dt class="col-sm-6">Year Change</dt>
            <dd class="col-sm-6">{{ data.ytdChange }}</dd>

            <dt class="col-sm-6">Market Cap</dt>
            <dd class="col-sm-6">{{ data.marketCap }}</dd>
        </dl>
    </div>

    <div class="pt-4 col-sm-6">
        <div id="chartContainer">
            <canvas id="stockChart"></canvas>
        </div>
        <ul class="nav nav-pills" id="pills-tab" role="tablist">
            <li class="nav-item" style="padding-left: 4px">
                <a class="nav-link alert-secondary" data-toggle="pill"
                   onclick="getHistoricData('1d')" role="tab" aria-controls="pills-home"
                   aria-selected="true">1D</a>
            </li>
            <li class="nav-item" style="padding-left: 4px">
                <a class="nav-link alert-secondary" data-toggle="pill" onclick="getHistoricData('5d')"
                   role="tab"
                   aria-controls="pills-home" aria-selected="true">1W</a>
            </li>
            <li class="nav-item" style="padding-left: 4px">
                <a class="nav-link active alert-secondary" data-toggle="pill"
                   onclick="getHistoricData('1m')" role="tab" aria-controls="pills-profile"
                   aria-selected="false">1M</a>
            </li>
            <li class="nav-item" style="padding-left: 4px">
                <a class="nav-link alert-secondary" data-toggle="pill" onclick="getHistoricData('3m')"
                   role="tab"
                   aria-controls="pills-contact" aria-selected="false">3M</a>
            </li>
            <li class="nav-item" style="padding-left: 4px">
                <a class="nav-link alert-secondary" data-toggle="pill" onclick="getHistoricData('6m')"
                   role="tab"
                   aria-controls="pills-contact" aria-selected="false">6M</a>
            </li>
            <li class="nav-item" style="padding-left: 4px">
                <a class="nav-link alert-secondary" data-toggle="pill" onclick="getHistoricData('1y')"
                   role="tab"
                   aria-controls="pills-contact" aria-selected="false">1Y</a>
            </li>
            <li class="nav-item" style="padding-left: 4px">
                <a class="nav-link alert-secondary" data-toggle="pill" onclick="getHistoricData('2y')"
                   role="tab"
                   aria-controls="pills-contact" aria-selected="false">2Y</a>
            </li>
            <li class="nav-item" style="padding-left: 4px">
                <a class="nav-link alert-secondary" data-toggle="pill" onclick="getHistoricData('5y')"
                   role="tab"
                   aria-controls="pills-contact" aria-selected="false">5Y</a>
            </li>
        </ul>
        <form class="form-inline p-1 ml-1" id="compareForm">
            <input list="myDatalist" id="searchText" type="text" class="form-control mr-1" placeholder="Type Stock Name / Symbol"
                   style="max-width:40%;max-height:10%;" name="stockNameToCompare" oninput="getStockNames()">
            <datalist id="myDatalist"
                      style="max-height:10px;overflow-y:auto;display:block !important;">

            </datalist>
            <button type="button" class="btn btn-primary" onclick="addStockToCompare()">
                <i class="fa fa-compress" aria-hidden="true"></i>
                Compare
            </button>
            <button type="button" class="btn btn-danger ml-1" onclick="clearGraph()">
                <i class="fa fa-eraser" aria-hidden="true"></i>
            </button>
        </form>

    </div>
</div>
{% endblock %}

{% block scripts %}
{% load static %}
<script type="text/javascript"
        src="{% static 'js/myapp/single_stock.js' %}"></script>
<script>
	window.onload = function(){
	setOriginSymbol("{{data.symbol}}");
	getHistoricData();

	 $('.count').prop('disabled', true);
   	$(document).on('click','.plus',function(){
	    $('.count').val(parseInt($('.count').val()) + 1 );
	    console.log($('#input_qty').val());
    });
    $(document).on('click','.minus',function(){
        $('.count').val(parseInt($('.count').val()) - 1 );
    	    if ($('.count').val() == 0) {
				$('.count').val(1);
			}
    });

	};
//startInterval("{{ Interval }}" ,"{{ request.path }}")
startInterval(10000 ,"{{ request.path }}")
</script>
{% endblock %}



