{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="col-md-12 text-left">
		<h3>Your Watchlist</h3>
</div>
</div>
    {% if profile.watchlist.all %}
        <table id="stockstable" class="table table-hover data-table">
            <tr>
                <th>#</th>
                <th>Symbol</th>
                <th>Name</th>
                <th>Price</th>
                <th>Change</th>
                <th>Actions</th>
            </tr>
            {% for stock in profile.watchlist.all %}
                <tr id="row{{forloop.counter}}" class="clickable-row" data-href="/stock/{{ stock.symbol }}">
                    <td>{{ forloop.counter }}</td>
                    <td>{{ stock.symbol }}</td>
                    <td>{{ stock.name }}</td>
                    <td>{{ stock.price|floatformat:2 }}</td>
                    <td class="
                    {% if stock.change_percent >= 0 %}
                        text-success
                    {% else %}
                        text-danger
                    {% endif %}">
                    {{ stock.change_percent|floatformat:2 }}%
                    </td>
                    <td onclick="event.cancelBubble=true; return false;">
                        <button onclick="watchlistRemove('{{stock.symbol}}','{{forloop.counter}}')" class="btn btn-outline-danger" style="padding: 0px 6px;"><i class='fa fa-eye-slash'></i></button>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        Your watchlist is currently empty 
    {% endif %}
</div>
{% endblock %}

{% block scripts %}
<script>
    function watchlistRemove(symbol, number) {
        var row = document.getElementById("row" + number);

        var xhr = new XMLHttpRequest();
        xhr.open("POST", `../../stock/${symbol}/wremove/`, true);

        xhr.onreadystatechange = function () {
            if (xhr.readyState === XMLHttpRequest.DONE) {
                var status = xhr.status;
                // In local files, status is 0 upon success
                if (status === 0 || (status >= 200 && status < 400)) {
                    row.parentNode.removeChild(row);
                    
                    var table = document.getElementById('stockstable');
                    var rowCount = table.rows.length;

                    if (rowCount == "1"){
                        table.innerHTML="Your watchlist is currently empty";
                    }
                }
            }
        };
        xhr.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));
        xhr.send();
    }
</script>
{% endblock %}
