{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="col-md-12 text-left">
		<h3>Your Watchlist</h3>
</div>
</div>
    {% if profile.watchlist.all %}
{% include "subtemplate/Auto_update_control.html" %}

        <table id="stockstable" class="table table-hover data-table">
            <tr>
                <th>#</th>
                <th>Symbol</th>
                <th>Name</th>
                <th>Price</th>
                <th>Change</th>
                <th>Actions</th>
            </tr>
            {% for stock in profile.watchlist.all %}
                <tr id="row{{forloop.counter}}" class="clickable-row" data-href="/stock/{{ stock.symbol }}">
                    <td>{{ forloop.counter }}</td>
                    <td>{{ stock.symbol }}</td>
                    <td>{{ stock.name }}</td>
                    <td>{{ stock.price|floatformat:2 }}</td>
                    <td class="
                    {% if stock.change_percent >= 0 %}
                        text-success
                    {% else %}
                        text-danger
                    {% endif %}">
                    {{ stock.change_percent|floatformat:2 }}%
                    </td>
                    <td onclick="event.cancelBubble=true; return false;">
                        <button onclick="watchlistRemove('{{stock.symbol}}','{{forloop.counter}}')" 
                        class="btn btn-outline-danger" style="padding: 0px 6px;">
                            <i class='fa fa-eye-slash'></i>
                        </button>
                        <button type="button" class="btn btn-outline-secondary" style="padding: 0px 8px;"
                        onclick="getStockRules('{{forloop.counter}}', '{{stock.symbol}}')">
                            <i class='fa fa-cog'></i>
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        Your watchlist is currently empty 
    {% endif %}
</div>
{% for stock in profile.watchlist.all %}
    {% include "subtemplate/list_rules.html" with counter=forloop.counter stockname=stock.name stocksymbol=stock.symbol %}
{% endfor %}
{% endblock %}
{% load static %}
{% block scripts %}
<script type="text/javascript"
        src="{% static 'js/myapp/watch_list.js' %}"></script>
<script>
    startInterval("{{ Interval }}" ,"{{ request.path }}")
</script>
{% endblock %}
